@model dynamic

<div class="video-container">
  <iframe
    src="@{@Model.course.link}"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>

<div class="info">
  <div
    class="w-2/12 flex flex-row gap-x-4 my-5 relative left-1/4 rounded-xl shadow-xl"
  >
    <img src="@{@Model.trainer.photoLink}" alt="" class="thumb" />
    <div>
      <p>@{@Model.trainer.name}</p>
      <p class="text-gray-400">@{@Model.trainer.profession}</p>
    </div>
  </div>
  <p class="w-7/12 relative left-1/4">@{@Model.course.description}</p>
</div>
